
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!--
        ConfilmMailConroller de emaile gelen kod ile karsilastirma yapilacak daha sonra kod onaylaninca 
        bu sayfaya yonlendirilecek.
    -->
    <h2>My Profile sayfasidir....</h2>
</body>
</html>
