<section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container">
            <div class="row footer-top-29">
                <div class="col-lg-4 col-md-6 col-sm-8 footer-list-29 footer-1">
                    <div class="left-side">
                        <h2><a asp-action="Index" asp-controller="Home" class="footer-logo"><span class="fa fa-university mr-1" aria-hidden="true"></span>Easy cash</a></h2>
                        <p class="para">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe qui repellat nam vero consectetur dicta eos suscipit. Numquam at minus architecto asperiores cupiditate. At molestias laborum voluptatibus numquam aperiam in.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 footer-list-29 footer-2 ">
                    <ul>
                        <h6 class="footer-title-29">About</h6>
                        <li><a href="#page">How it Works</a></li>
                        <li><a href="#page">Guarantee</a></li>
                        <li><a href="#page">Security</a></li>
                        <li><a href="#page"> Our story</a></li>
                        <li><a href="#page">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 footer-list-29 footer-2 ">
                    <ul>
                        <h6 class="footer-title-29">Solution</h6>
                        <li><a href="#page">Car Loan</a></li>
                        <li><a href="#page">Personal Loan</a></li>
                        <li><a href="#page">Education Loan</a></li>
                        <li><a href="#page">Business Loan</a></li>
                        <li><a href="#page">Home Loan</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 footer-list-29 footer-2 ">
                    <ul>
                        <h6 class="footer-title-29">Need Help?</h6>
                        <li><a href="#page">Find a branch</a></li>
                        <li><a href="#page">FAQs</a></li>
                        <li><a href="#page">APR</a></li>
                        <li><a href="#page">Contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
</section>
<section class="w3l-footer-29-main w3l-copyright">
    <div class="container">
        <div class=" bottom-copies text-center">
            <p class="copy-footer-29">© @DateTime.Now.Year Easy cash. All rights reserved | Designed by <a href="https://github.com/Albatros46/EasyCashApp">Albatros46</a></p>
        </div>
    </div>
</section>
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-long-arrow-up"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- /move top -->
