<section class=" w3l-header-4 header-sticky">
    <header class="absolute-top">
        <div class="container-fluid pr-lg-0">
            <nav class="navbar navbar-expand-lg navbar-light">
                <h1><a class="navbar-brand" asp-action="Index" asp-controller="Home"><span class="fa fa-university mr-1" aria-hidden="true"></span>Easy cash</a></h1>
                <button class="navbar-toggler bg-gradient collapsed" type="button" data-toggle="collapse"
                        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="fa icon-expand fa-bars"></span>
                    <span class="fa icon-close fa-times"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="Home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item @@about__active">
                            <a class="nav-link" href="about.html">About</a>
                        </li>
                        <li class="nav-item dropdown @@pages__active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                pages
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="services.html">Services</a>
                            </div>
                        </li>
                        <li class="nav-item @@contact__active">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                        <li class="nav-item ml-lg-3">
                            <a class="nav-link phone" href="tel:+(21)-234-9999"><span class="fa fa-volume-control-phone"></span> +(21)-234-9999</a>
                        </li>
                        <li class="nav-item ml-lg-3">
                            <a asp-action="Index" asp-controller="Login" class=" book btn btn-style">Login</a>
                        </li>
                        <li class="nav-item ml-lg-3">
                            <a asp-action="Index" asp-controller="Register" class=" book btn btn-style">Register</a>
                        </li>
                    </ul>
                </div>
        </div>
        </nav>

    </header>
</section>
