<!--_CustomerLayoutFooterPartial-->
<footer>
    <div class="pull-right">
        Easy Cash - Application @DateTime.Now.Year by <a href="https://github.com/Albatros46/EasyCashApp">SA Software</a> | Tüm Haklari Saklidir
    </div>
    <div class="clearfix"></div>
</footer>
